---
layout: default
---

<main id="content" tabindex="-1">

  <div id="post" class="" aria-label="Posts">
      <header>
        <h1 class="text-xl text-green-500">{{ title }}</h1>
      </header>

      <div id="post-content" class="">
        {{ content | safe }}
      </div>

    </div>
</main>
